body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}


.item-Outerbox {
    border: 1px solid black;
}
/*Frontpage*/
.item-image-box {
    /*border-bottom: solid #d6d6d6 1px;
    position: relative;
    min-height: 250px;*/

background-color: red;

overflow: hidden;
		position: relative;
		margin-top: 10px;
		height: 200px;
}

.item-image {
    /*max-width: 100%;
    margin-bottom: 10px;*/
height: 100%;
    width:auto;
		height: auto;

}
/*@media screen and (min-width: 992px ) {
    .item-image {
        max-height: 150px;
    }
 }

 @media screen and (min-width: 1200px ) {
     .item-image {
         max-height: 200px;
     }
  }*/


/*Item page*/
.userInfo {
    border-bottom: solid 1px #c7c7c7;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.profile-img {
    max-width: 200px;
}

.message {
    margin-bottom: 15px;
}

#map_canvas {
    width: 355px;
    height: 400px;
}

/* Profile page style */
.profilePicture {
  padding: 15px 0px;
}

.profileHeader{
  margin: 0px;
  padding: 15px 0px;
}

.profileLabel {
  padding-top: 15px;
  border-top: 1px solid #dddddd;
}

.profileInfo {
  padding-bottom: 10px;
  font-size: 1.2em;
}
